label {
  margin-bottom: 6px;
  font-size: $font-size-sm;
  line-height: $headings-line-height;
}

.wpcf7 {
    max-width: 100% !important;

    a {
      color: $link-color !important;
    }
    
    label {
        font-size: $font-size-sm;
        width: 100%;
    }
    
    form .wpcf7-response-output {
        height: auto !important;
        color: $body-color;
        background-color: $light;
        padding: $spacer;
        box-shadow: $box-shadow;
    }

    .form-control-sm {
        height: auto;
    }
    
    input[type=checkbox] {
        width: 2rem;
        height: 2rem;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid $body-color;
        margin-right: $spacer * .5;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    
        &:hover,
        &:focus,
        &:active,
        &:checked:hover {
          background-color: $light;
        }
    
        &:checked {
          background: url('../img/icono-check.svg') no-repeat center;
        }
      }

      .wpcf7-acceptance {

        .wpcf7-list-item {
          margin-left: 0;
        }
      }

      input[type=submit] {
        @extend .btn;
        @extend .btn-primary;
        color: $white;
        transition: $transition-base;
    
        &:disabled {
            background-color: $dark;
            color: $white;
            opacity: .2;
        }
    
        &:hover {
            background-color: $dark;
            opacity: .8;
            color: $white;
        }
      }    

      .wpcf7-form {

        p {
          @extend .form-group;
        }
  
      }
  
      // not valid tip for each control
      .wpcf7-not-valid-tip {
        color: theme-color("danger");
      }
  
      // validation errors ourput bottom of form
      .wpcf7-validation-errors {
        color: theme-color("danger");
        border: 1px solid $gray-200;
      }
  
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  > .form-control {
    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    width: 1%;
    min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input-group-append {
  display: flex;
  margin-left: -$input-border-width;

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.input-group-text` since it shares the same border-color
  // as our inputs.
  .btn {
    position: relative;
    z-index: 2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
      z-index: 3;
    }
  }
}

.wpcf7-submit {

  + .wpcf7-spinner {
    margin-right: 0;
    margin-left: -30px;
    top: 6px;
  }

}

.form-control {
  border-width: 0;
  border-bottom-width: 2px;
}

.custom-select {
  appearance: auto;
}

textarea.form-control {
  border-width: 1px;
}

.wpcf7-input-group > p {
  // display: flex;
  position: relative;

  > *:first-child {
    // flex: 1;
    
    input {
      padding-right: 4rem;
    }
  }

  .input-group-append {
    position: absolute;
    right: 0;
    top: 8px;

    .wpcf7-submit {
      width: 2rem;
      padding: 0;
      text-indent: -99999px;
      mask-image: url('../img/flecha-derecha.svg');
      mask-repeat: no-repeat;
      mask-position: center;

      + .wpcf7-spinner {
        top: 0;
        position: absolute;
        right: 2rem;
      }

    }
  }

}