.slick-prev,
.slick-next {
	z-index: 1;
	// top: unset;
	// bottom: -$spacer*1.5;
	width: $spacer * 2;
	height: $spacer * 2;

	&:before {
		content: "";
		display: block;
		width: $spacer * 2;
		height: $spacer * 2;
		font-size: $spacer;
		color: $black;
		background-color: $primary;
		mask-image: url('../img/flecha-derecha.svg');
		mask-repeat: no-repeat;
		mask-position: center;
	}
}

.slick-prev {
	// left: unset;
	// right: $spacer*1.2;
	left: 0;

	&:before {
		transform: rotate(180deg);
	}
}

.slick-next {
	right: 0;
}

.slick-carousel {
	position: relative;
	padding-bottom: $spacer * 2;

	.slick-list {
		margin: 0 -$grid-gutter-width/2;
		padding-right: 100px;

		@include media-breakpoint-up(md) {
			padding-right: 70px;
		}

		// @include media-breakpoint-up(md) {
		// 	padding-right: 10%;
		// }
	}

	.slick-slide {
		margin: 0 $grid-gutter-width/2;
		transition: $transition-fade;

		&:not(.slick-active) {
			opacity: .5;
		}
	}
}

.slick-slider {

	.wp-block-cover {
		min-height: 560px;
		align-items: flex-end;
		padding: $spacer * 4 0;
	}
}

// .commentlist,
.slider-testimonios {

	// .comment_container,
	.testimonio {
		padding: $spacer * 2;
		max-width: 992px;
		margin: 0 auto;
	}

	img.avatar {
		position: relative !important;
		padding: 0 !important;
	}
}